// Specific CSS for your home-page

body {
background: white;
}


.header {
  background-image:url(../images/background.jpg);
  background-size: cover;
  background-position-y: center;
  height: 100vh;
  position: relative;
}

.title {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  color: $gray;
  text-align: center;
  h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: $font-size * 14;
    font-weight: bold;
  }
  h2 {
    margin-top: $margin * 2;
    font-size: $font-size * 8;
  }
  hr {
    border: 2px solid $light-gray;
  }
}


// .clickable {
//   // position: absolute;
//   color: white;
//   // top: 88%;
//   // right: 50%;
//   // transform: translate(50%);
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   p {
//     margin: 0;
//     font-size: $font-size * 4.5;
//   }
//   a{
//     color: white;
//   }
//   i {
//     font-size: 36px;
//     transition: all .2s ease-in-out;
//   }
//   i:hover {
//     animation: leaves .5s infinite;
//   }
// }

// @keyframes leaves {
//     0% {
//         transform: scale(1.0);
//     }
//     100% {
//         transform: scale(1.2);
//     }
//     0% {
//       transform: scale(1.0);
//     }
// }

// .btn-ghost {
//   color: $light-gray;
//   border: 1px solid $light-gray;
//   padding: 8px 24px;
//   border-radius: 8px;
//   font-weight: lighter;
//   opacity: 0.6;
//   transition: opacity 0.3s ease;
//   // position: absolute;
//   // top: 67%;
//   // left: 50%;
//   transform: translate(-50%, -50%);
// }

// .btn-ghost:hover {
//   opacity: 1;
//   color: white;
// }


.icons {
  position: absolute;
  top: 2%;
  right: 2%;

  color: white;
  i {
    color: white;
    font-size: 28px;
    margin-left: $margin * 2;
    margin-right: $margin * 2;
  }
  i:hover {
    transform: scale(1.2);
    transform-origin:top center;
  }
}


.projects {
  margin: $margin * 28;
}

.about-me {
  margin-top: $margin * 28;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding-left: 26px;
  flex-grow: 2;
}


.project {
  margin-top: $margin * 21;
  display: flex;
  .horizontal-img {
    width: 680px;
    object-fit: cover;
    display: block;
    margin: auto;
  }
  .vertical-img {
    height: 520px;
    object-fit: cover;
    display: block;
    margin: auto;
  }
  .project-image{
    flex-grow: 1;
  }
  .project-description {
    width: 39%;
    img {

    }
  }
}
