<div id="about-me" class="about-me contrast-bg">
  <div class="container">
    <h1 id="h1-left">ABOUT ME.</h1>
    <hr id="hr-left">
    <div class="presentation-me">
      <p>Hi! My name is Jose Manuel Garcia Portillo and I am from Seville, Spain. 🇪🇸</p>
      <p>I am a <span>Full Stack Web Developer</span> specialized in Ruby on Rails and JavaScriptES6. My strengths lie on
        the back-end, as I know Python and SQL and have experience using Tableau and data analysis. (my
        tech stack)</p>
      <p>I am a self-starter with high aspiration; always seeking for areas of improvement and for opportunities
        to learn and to <span>keep growing</span>. I enjoy working in teams, and people who know me as a web developer
        would describe me as <span>driven, responsible and collaborative</span>.</p>
      <p>Technology has so much to give to the community and I believe in its power to bring people together. If
        there are chances for me to be involved in future that will contribute to the wellbeing of the community
        and the people, I would love to be part of it!</p>
    </div>
  </div>
  <div class="custom-shape-divider-bottom-1625546522">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>
</div>