<div id="about-me" class="about-me contrast-bg">
  <div class="container">
    <div data-aos="fade-right">
      <h1 id="h1-yellow-left">ABOUT ME.</h1>
      <hr id="hr-yellow-left">
    </div>
    <div class="presentation-me">
      <p>Hi! My name is Jose Manuel Garcia Portillo and I am from Seville, Spain. 🇪🇸</p>
      <p>I am a <span>Full Stack Software Engineer</span> specialized in Ruby on Rails, React, and TypeScript. I am constantly enhancing my skill set and currently exploring Django to broaden my expertise.</p>
      <p>In addition to my core skills, I have experience in CI/CD practices and working with tools such as Jenkins and Ansible. I am also proficient in containerization technologies like Docker and Kubernetes, enabling me to deploy and manage applications effectively.</p>
      <p>I am a highly motivated, efficient self-starter with responsibility and flexibility. I enjoy working in teams, and people who know me as a web developer would describe me as <span>driven, responsible and collaborative</span>.</p>
      <p>Technology has so much to give to the community and I believe in its power to bring people together. If there are chances for me to be involved in future that will contribute to the wellbeing of the community and the people, I would love to be part of it!</p>
    </div>
  </div>
  <div class="custom-shape-divider-bottom-1625546522">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>
</div>