<div id="contact-me" class="contact contrast-bg">
  <h1>CONTACT ME</h1>
  <hr style="width:40%">
  <div class="icons">
    <div class="navigation-button">
      <i class="fas fa-envelope"></i>
      <%= mail_to "jgarciaportillo@gmail.com", "", class: 'navigation-button-link' %>
    </div>
    <a href="https://www.linkedin.com/in/josemanuelgp/" target= "_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/josem-gp" target= "_blank"><i class="fab fa-github-square"></i></a>
    <a href="https://jgarciaportillo.medium.com/" target= "_blank"><i class="fab fa-medium"></i></a>
  </div>
  <div class="footer">
    <p>©2021 Jose Manuel Garcia Portillo. All rights reserved.</p>
  </div>
</div>