<% data.main_products.each_with_index do |product, idx| %>
  <div class="project-show">
    <% if idx % 2 == 0 %>
      <%= partial 'layouts/partials/product_device', locals: { product: product, index: idx } %>
      <%= partial 'layouts/partials/product_info', locals: { product: product, orientation: "right" } %>  
    <% else %>
      <%= partial 'layouts/partials/product_info', locals: { product: product, orientation: "left" } %>
      <%= partial 'layouts/partials/product_device', locals: { product: product, index: idx } %>  
    <% end %>
  </div>
<% end %>
