<div id="home" class='header contrast-bg'>
  <div class="intro">
    <div class="subheader-image">
      <h3>HELLO! 👋 MY NAME IS </h3>
      <h1>JOSE MANUEL  <br>
        GARCIA PORTILLO.</h1>
      <h2><span style="font-weight: bold">Full-Stack Web Developer</span> from Seville, Spain. </h2>
      <p>Passionate about coding and contributing to the quality of life of the people and the community.</p>
      <div class="action-btns">
        <a href="#about-me">LET'S BEGIN!</a>
      </div>
    </div>
  </div>
  <div class="hero-image">
    <%= image_tag "profile.JPG", class: 'profilepic' %>
  </div>
  <div class="custom-shape-divider-bottom-1625483349">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
    </svg>
  </div>
</div>