<div class='header'>
  <div class="intro">
    <div class="subheader-image">
      <h1>Jose Manuel Garcia Portillo</h1>
      <h2>Full-Stack Web Developer</h2>
      <h3>Hi there! I am passionate about coding and learning new skills. <br>
        I love thinking about new ideas and bringing them to life. </h3>
      <div class="action-btns">
        <a href="#about-me">ABOUT ME</a>
        <a href="#project">MY WORK</a>
        <a href="#contact-me">CONTACT</a>
      </div>
    </div>
  </div>
</div>