
.carousel-control-prev {
  width: fit-content !important;
}

.carousel-control-next {
  width: fit-content !important;
}

.carousel-control-prev-icon {
  filter: brightness(0.7) sepia(0) hue-rotate(
180deg) saturate(5) !important;
}

.carousel-control-next-icon {
  filter: brightness(0.7) sepia(0) hue-rotate(
180deg) saturate(5) !important;
}
