.header {
  background-image:url(../images/background.jpg);
  background-size: cover;
  background-position-y: center;
  height: 100vh;
  position: relative;
}

.intro {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-left: $margin * 14;
  margin-right: $margin * 14;
  .subheader-image {
    margin-left: $margin * 6;
    h1 {
      color: white;
      font-size: $font-size * 11;
    }
    h2 {
      color: #E43C6E;
      font-size: $font-size * 9;
    }
    h3{
      color: white;
      font-size: $font-size * 5;
      margin-top: $margin * 9;
      line-height: 1.4;
      text-align: justify;
    }
  }
  .action-btns {
    display: flex;
    flex-wrap: wrap;
    margin-top: $margin * 10;
    a {
      color: #E6E0F8;
      margin: $margin * 3;
      border: 1px solid #E6E0F8;
      padding: $padding * 3;
    }
    a:hover {
      text-decoration: none;
      background: #E6E0F8;
      color: black;
    }
  }
}

@media (max-width: 576px) {
  .header {
  background-position-x: center;
  }
  .intro {
    width: 80%;
    margin: 0 auto;
    .subheader-image {
    margin-left: 0;
    h1 {
      font-size: $font-size * 9;
    }
    h2 {
      font-size: $font-size * 8;
    }
    h3 {
      font-size: $font-size * 4.5;
    }
    }
    .action-btns {
      display: flex;
      justify-content: center;
      a {
        margin: $margin;
        font-size: $font-size * 3.5;
        text-align: center;
      }
    }
  }
}
