

.header {
  position: relative;
  background: #26426C;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .hero-image{
    margin-bottom: 44px;
    img{
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    width: 400px;
    }
  }
}


.intro {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-right: $margin * 24;
  max-width: 40%;
  .subheader-image {
    h1 {
      color: white;
      font-size: $font-size * 15;
      font-weight: bold;
    }
    h3 {
      color: white;
      font-size: $font-size * 4.5;
      line-height: 1.4;
      text-align: justify;
      font-weight: bold;
    }
    h2 {
      color: white;
      font-size: $font-size * 7;
      margin-top: $margin * 9;
      margin-bottom: 0;
      line-height: 1.4;
      text-align: justify;
    }
    p {
      color: white;
      font-size: $font-size * 5;
    }
  }
  .action-btns {
    display: flex;
    flex-wrap: wrap;
    margin-top: $margin * 15;
    a {
      color: white;
      background: #F2CD62;
      padding: 10px 24px;
      font-weight: bold;
      border-radius: 8px;
      font-size: 16px;
    }
    a:hover {
      text-decoration: none;
      background: #f4be29;
      color: white;
      animation: effect 0.3s;
      animation-iteration-count: 2;
    }
    @keyframes effect {
      0% {
          transform: rotateZ(4deg);
      }

      50% {
          transform: rotateZ(0deg);
      }

      10% {
          transform: rotateZ(-4deg);
      }
    }
  }
}


@media (max-width: 576px) {
  .header {
    background-position-x: center;
  }
  .intro {
    width: 80%;
    margin: 0 auto;
    .subheader-image {
      margin-left: 0;
      h1 {
        font-size: $font-size * 9;
      }
      h2 {
        font-size: $font-size * 8;
      }
      h3 {
        font-size: $font-size * 4.5;
      }
    }
    .action-btns {
      display: flex;
      justify-content: center;
      a {
        margin: $margin;
        font-size: $font-size * 3.5;
        text-align: center;
      }
    }
  }
}

// White squares

.custom-shape-divider-bottom-1625483349 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1625483349 svg {
    position: relative;
    display: block;
    width: calc(111% + 1.3px);
    height: 89px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1625483349 .shape-fill {
    fill: #F9F9F9;
}
