.projects {
  background: #F5F5F5;
  h1{
    padding-top: $padding * 9;
    text-align: center;
    color: #45474A;
    font-weight: bold;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; //add one more 1fr (to have 4 per row) when more projects are done
  grid-gap: $margin * 6;
  width: 80%;
  margin: 0 auto;
  padding-bottom: $padding * 21;
}


.project {
  overflow: hidden;
  position: relative;
  margin-top: $margin * 21;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  .project-intro {
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    background: black;
    color: white;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    transition: all .4s ease-in-out;
  }
}

.project:hover .project-intro{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
