
.about {
  height: 100vh;
  h2{
    padding-top: $padding * 9;
    text-align: center;
    color: #E43C6E;
    font-weight: bold;
  }
}


.aboutme-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}





.presentation {
  margin-top: $margin * 14;
  width: 60%;
  margin: 0 auto;
  img{
    width: $width * 150;
    border-radius: 50%;
    border: 3px solid white;
  }
  p {
    margin-top: $margin * 8;
  }
}
