
.about {
  height: 100vh; //delete this when adding more stuff into it
  h1{
    padding-top: $padding * 9;
    text-align: center;
    color: #45474A;
    font-weight: bold;
  }
}


.aboutme-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: $padding * 9;
}


.presentation {
  margin-top: $margin * 14;
  width: 60%;
  margin: 0 auto;
  img{
    width: $width * 150;
    border-radius: 50%;
    border: 3px solid $light-gray;
    display: block;
    margin: 0 auto;
  }
  p {
    margin-top: $margin * 8;
  }
}

.tech-stack {
  h2 {
    text-align: center;
    font-weight: bold;
    color: #E43C6E;
  }
  hr {
    border: 2px solid #E43C6E;
  }
  h3 {
    color: #45474A;
  }
}

.stack {
  width: 60%;
  margin: 0 auto;
}

.front-back-others {
  margin: $margin * 2.5;
  .icons-grid {
    margin-top: $margin * 3;
    margin-left: $margin * 9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: ($margin * 2) ($margin * 6);
    width: 60%;
    text-align: center;
  }
}



.icon {
  p{
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  #js {
    color: #DABA3F;
  }
  #html {
    color: #C6442A;
  }
  #css {
    color: #2163AF;
  }
  #bootstrap {
    color: #493369;
  }
  #rails {
    color: #6C2028;
  }
  #postgre {
    color: #336791;
  }
  #oracle {
    color: #C24532;
  }
  #heroku {
    color: #7E57C2;
  }
}
