.projects {
  min-height: 100vh; //delete when having more projects
  background: #F5F5F5;
  h1{
    padding-top: $padding * 9;
    text-align: center;
    color: #45474A;
    font-weight: bold;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; //add one more 1fr (to have 4 per row) when more projects are done
  grid-gap: $margin * 6;
  width: 80%;
  margin: 0 auto;
  padding-bottom: $padding * 21;
}


.project {
  overflow: hidden;
  position: relative;
  margin-top: $margin * 21;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  .project-intro {
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    background: rgba(250,250, 250, 0.95);
    padding-left: $padding * 4;
    padding-top: $padding * 4;
    padding-bottom: $padding * 4;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    transition: all .4s ease-in-out;
    h2{
      color: #E43C6E;
      font-size: $font-size * 6;
      font-weight: bold;
    }
    h3 {
      font-size: $font-size * 5;
      font-weight: bold;
    }
    a {
      text-decoration: none;
      text-align: center;
    }
  }
}

.project:hover .project-intro{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.stack-icons {
  position: absolute;
  top: 8px;
  right: 0;
  display: flex;
  i {
    margin-right: $margin * 2;
  }
}

.links-project {
  display: flex;
  justify-content: center;
  a {
    color: black;
    margin-left: $margin * 5;
    margin-right: $margin * 5;
    border: 3px solid #E43C6E;
    padding: ($padding * 0.5)($padding * 2);
    border-radius: 8px;
  }
  a:hover {
    background: #E43C6E;
    color: white;
  }
}

@media (max-width: 1200px) {
 .projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; //add one more 1fr (to have 4 per row) when more projects are done
  grid-gap: $margin * 6;
  width: 80%;
  margin: 0 auto;
  padding-bottom: $padding * 21;
}
}


@media (max-width: 768px) {
  .projects {
    h1{
      font-size: $font-size * 8;
    }
  }
  .projects-grid {
    display: grid;
    grid-template-columns: 1fr; //add one more 1fr (to have 4 per row) when more projects are done
    grid-gap: $margin * 6;
    width: 80%;
    margin: 0 auto;
    padding-bottom: $padding * 21;
  }
  .project {
    height: 316px;
    margin-top: $margin * 5;
  }
}


