.project-divider {
  margin-top: 0;
  margin-bottom: 7rem;
  width: 40%;
  border: 1px solid lightgray;
}

.projects-filter {
  min-height: 100vh;
  background: #F9F9F9;
  position: relative;
  #h1-left {
    font-weight: bold;
    letter-spacing: 2px;
    color: #26426C;
  }
  #hr-left-blue {
    width: 6%;
    margin-left: 0;
    margin-top: 14px;
    border: 3px solid #5B82EF;
  }
}

.project-show {
  display: flex;
  margin-top: 100px;
  .project-show-descr {
    h2 {
      color: #5B82EF;
      font-weight: bold;
      font-size: 34px;
      margin: 0;
    }
    h3 {
      color: #26426C;
      font-size: 20px;
      font-weight: bold;
    }
    hr {
      width: 64%;
      margin-left: 0;
      border-top: 3px solid rgba(0, 0, 0, 0.1);
    }
    p {
      text-align: justify;
    }
  }
  .project-show-descr-left {
    padding-left: 46px;
    h2 {
      color: #5B82EF;
      font-weight: bold;
      font-size: 34px;
      margin: 0;
    }
    h3 {
      color: #26426C;
      font-size: 20px;
      font-weight: bold;
    }
    hr {
      width: 64%;
      margin-left: 0;
      border-top: 3px solid rgba(0, 0, 0, 0.1);
    }
    p {
      text-align: justify;
    }
  }
}

.stack-icons-show {
  display: flex;
  i {
    margin-right: $margin * 2;
    font-size: 32px;
  }
}

.links-project-show {
  display: flex;
  margin-top: 28px;
}

.github-btn {
  color: white;
  font-size: 14px;
  text-align: center;
  width: 105.19px;
  margin-right: $margin * 5;
  background: #5B82EF;
  padding: 8px 24px;
  border-radius: 6px;
  font-weight: bold;
}
.github-btn:hover {
  background: #3466ef;
  text-decoration: none;
}
.project-btn {
  color: white;
  font-size: 14px;
  margin-right: $margin * 5;
  background: #f2cd62;
  padding: 8px 24px;
  border-radius: 6px;
  font-weight: bold;
}
.project-btn:hover {
  background: #f4be29;
  text-decoration: none;
}

.projects-box {
  padding-bottom: 30vh;
  margin-top: 6rem;
}

.filter-flex {
  display: flex;
  justify-content: center;
  button {
    color: #26426C;
    width: 215.61px;
    background: transparent;
    padding: 2px 60px;
    font-weight: bold;
    border: none;
  }
  .active {
  background: #5B82EF;
  color: white;
  }
}


// Separator

.custom-shape-divider-bottom-1625561988 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1625561988 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}

.custom-shape-divider-bottom-1625561988 .shape-fill {
    fill: #26426C;
}
