
.about {
  height: 100vh;
  img{
    width: 300px;
    border-radius: 50%;
    border: 3px solid white;
}
}



.presentation {
  margin-top: $margin * 28;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding-left: 26px;
  flex-grow: 2;
}
