.projects {
  background: #F5F5F5;
  h1{
    padding-top: $padding * 9;
    text-align: center;
    color: #45474A;
    font-weight: bold;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; //add one more 1fr (to have 4 per row) when more projects are done
  grid-gap: $margin * 6;
  width: 80%;
  margin: 0 auto;
  padding-bottom: $padding * 21;
}


.project {
  background: white;
  margin-top: $margin * 21;
  height: 248px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  .horizontal-img {
    width: 680px;
    object-fit: cover;
    display: block;
    margin: auto;
  }
  .vertical-img {
    height: 520px;
    object-fit: cover;
    display: block;
    margin: auto;
  }
  .project-image{
    flex-grow: 1;
  }
  .project-description {
    width: 39%;
    img {

    }
  }
}
