
// Design of Tech Stack page

.tech-stack {
  position: relative;
  background: #26426C;
  min-height: 100vh;
  h1 {
    letter-spacing: 2px;
  }
  .presentation-me {
    margin-top: 100px;
    button {
      text-align: left;
      color: white;
      background: none;
      border: none;
      font-size: 30px;
      font-weight: bold;
    }
    i {
      margin-right: 12px;
    }
  }
}

.header-right {
  width: fit-content;
  float: right;
  #h1-blue-right {
    font-size: 44px;
    font-weight: bold;
    text-align: right;
    color: white;
  }
  #hr-blue-right {
    width: 20%;
    margin-left: 0;
    margin-top: 14px;
    border: 3px solid #5B82EF;
  }
}


.icons-flex {
  background: rgba(255,255,255,.1);
  filter: brightness(0) invert(1);
  display: flex;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
  padding: 0;
  width: 36%;
  margin-top: 12px;
  margin-bottom: 12px;
  img {
    margin-right: 14px;
    margin-left: 14px;
    width: 32px;
  }
}

// JavaScrip onClick (open box & caret faces down)

.stacks.active .icons-flex {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.downwards {
  transform: rotate(90deg);
}


// Media Queries for big screens

@media (max-width: 1200px) {
  .container {
    #h1-blue-right {
      font-size: 40px;
    }
    .presentation-me {
      button {
        font-size: 28px;
      }
    }
    .icons-flex {
      width: 36%;
      img {
        width: 24px;
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    .icons-flex {
      width: 50%;
    }
  }
}

// Media Queries for mobile/small screen

@media (max-width: 768px) {
  .container {
    #h1-blue-right {
      font-size: 34px;
    }
    .presentation-me {
      button {
        font-size: 26px;
      }
    }
    .icons-flex {
      width: 72%;
      img {
        width: 24px;
      }
    }
  }
}


// Shape divider

.custom-shape-divider-bottom-1625558730 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-bottom: -10px;
}

.custom-shape-divider-bottom-1625558730 svg {
    position: relative;
    display: block;
    width: calc(203% + 1.3px);
    height: 178px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1625558730 .shape-fill {
    fill: #F9F9F9;
}
